<h2><%= @list.name %></h2>
<%= link_to "back to lists", lists_path, class: "btn btn-primary" %>
<%= link_to "add a bookmark", new_list_bookmark_path(@list), class: "btn btn-primary" %>
<%= link_to "delete your list", lists_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this list?" }, class: "btn btn-primary" %>
<div class= "d-flex">
<% @list.bookmarks.each do |bookmark|%>
<%= bookmark.movie.title%></div>
<%= bookmark.comment %>
<% end %>
